@import 'functions';

@mixin enterprise-core-theme($theme){
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .mat-drawer-container {
        background-color: mat-color($background, background);
      }
}